<div class="main-container">
  <header class="header header-1">
    <div class="branding">
      <a class="nav-link">
        <span class="clr-icon instead-logo"></span>
        <span class="title">Instead Blocks</span>
      </a>
    </div>
    <div class="header-nav">
      <clr-dropdown>
        <a class="nav-link nav-text" clrDropdownTrigger i18n>File</a>
        <clr-dropdown-menu *clrIfOpen>
          <a (click)="new()" clrDropdownItem i18n>New</a>
          <div class="dropdown-divider" role="separator" aria-hidden="true"></div>
          <a (click)="infoEditor.visible = true" clrDropdownItem i18n>Edit game metadata</a>
          <div class="dropdown-divider" role="separator" aria-hidden="true"></div>
          <a (click)="blocksWorkspace.backupProject()" clrDropdownItem i18n>Save in browser</a>
          <div class="dropdown-divider" role="separator" aria-hidden="true"></div>
          <a (click)="download()" clrDropdownItem i18n>Save to your computer</a>
          <a (click)="upload()" clrDropdownItem i18n>Load from your computer</a>
        </clr-dropdown-menu>
      </clr-dropdown>
      <clr-dropdown>
        <a class="nav-link nav-text" clrDropdownTrigger i18n>Demos</a>
        <clr-dropdown-menu *clrIfOpen>
          <a (click)="loadDemo('playground')" clrDropdownItem i18n>Playground</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <cds-icon shape="language" size="md"></cds-icon>
          <cds-icon shape="angle" direction="down" size="sm"></cds-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="../en" clrDropdownItem>English</a>
          <a href="../ru" clrDropdownItem>Русский</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <clr-dropdown>
          <a class="nav-link nav-text" clrDropdownTrigger i18n>Rooms</a>
          <clr-dropdown-menu *clrIfOpen>
            <a *ngFor="let room of rooms" (click)="setActiveTarget(room)" clrDropdownItem>{{room.name}}</a>
          </clr-dropdown-menu>
        </clr-dropdown>
      </li>
      <li class="nav-item">
        <clr-dropdown>
          <a class="nav-link nav-text" clrDropdownTrigger i18n>Items</a>
          <clr-dropdown-menu *clrIfOpen>
            <a *ngFor="let item of items" (click)="setActiveTarget(item)" clrDropdownItem>{{item.name}}</a>
          </clr-dropdown-menu>
        </clr-dropdown>
      </li>
      <li class="nav-item">
        <clr-dropdown>
          <button class="nav-link nav-icon" clrDropdownTrigger>
            <cds-icon shape="plus" size="md"></cds-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen>
            <a (click)="addNewTarget('room')" clrDropdownItem i18n>Room</a>
            <a (click)="addNewTarget('item')" clrDropdownItem i18n>Item</a>
          </clr-dropdown-menu>
        </clr-dropdown>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <!-- TODO: Replace with SASS overriding clr-content-area-padding-*-->
    <div class="content-area" style="padding: 0">
      <div class="clr-row clr-no-gutters">
        <div class="clr-col-lg-6">
          <app-blocks #blocksWorkspace></app-blocks>
        </div>
        <div class="clr-col-lg-6">
          <!-- TODO: Maybe move them to aside section of subnav-->
          <ul class="nav">
            <li>
              <button class="btn btn-link btn-icon" type="button" i18n-title title="Reload game" (click)="run()"
                [clrLoading]="reloadingState">
                <cds-icon *ngIf="code" shape="refresh"></cds-icon>
                <cds-icon *ngIf="!code" shape="play"></cds-icon>
              </button>
            </li>
            <li>
              <button class="btn btn-link btn-icon" type="button" i18n-title title="Show code"
                (click)="refreshCode(); codePreview.visible = true">
                <cds-icon shape="details"></cds-icon>
              </button>
            </li>
          </ul>
          <app-instead></app-instead>
        </div>
      </div>
    </div>
  </div>
  <app-game-info #infoEditor [data]="metadata"></app-game-info>
  <app-code-preview #codePreview [code]="code"></app-code-preview>
</div>