<div class="content-container">
  <div class="content-area" style="padding: 0">
    <div class="clr-row">
      <div class="clr-col-lg-6">
        <app-blocks></app-blocks>
      </div>
      <div class="clr-col-lg-6">
        <div id="preview-pane">
          <ul class="nav" role="tablist">
            <li role="presentation" class="nav-item">
              <button class="btn btn-link nav-link active" aria-controls="game" aria-selected="true"
                type="button">Game</button>
            </li>
            <li role="presentation" class="nav-item">
              <button id="codeButton" class="btn btn-link nav-link" aria-controls="code" aria-selected="false"
                type="button">Code</button>
            </li>
          </ul>
          <section role="tabpanel" aria-labelledby="Game">
            <div id="instead"></div>
          </section>
          <section role="tabpanel" aria-labelledby="Code" aria-hidden="true">
            <div id="codeDiv">
              <code id="generatedCode"></code>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>