<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a class="nav-link">
        <span class="clr-icon instead-logo"></span>
        <span class="title">Instead Blocks</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <clr-icon shape="language"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="../en" clrDropdownItem>English</a>
          <a href="../ru" clrDropdownItem>Русский</a>
        </clr-dropdown-menu>
      </clr-dropdown>
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <clr-icon shape="cog"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a (click)="infoEditor.visible = true" clrDropdownItem i18n>Edit game metadata</a>
          <div class="dropdown-divider" role="separator" aria-hidden="true"></div>
          <a (click)="save()" clrDropdownItem i18n>Save in browser</a>
          <div class="dropdown-divider" role="separator" aria-hidden="true"></div>
          <a (click)="download()" clrDropdownItem i18n>Save to your computer</a>
          <a (click)="upload()" clrDropdownItem i18n>Load from your computer</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area" style="padding: 0">
      <div class="clr-row">
        <div class="clr-col-lg-6">
          <app-blocks [model]="model"></app-blocks>
        </div>
        <div class="clr-col-lg-6">
          <ul class="nav">
            <li>
              <button class="btn btn-link btn-icon" type="button" i18n-title title="Reload game" (click)="run()"
                [clrLoading]="reloadingState">
                <clr-icon *ngIf="code" shape="refresh"></clr-icon>
                <clr-icon *ngIf="!code" shape="play"></clr-icon>
              </button>
            </li>
            <li>
              <button class="btn btn-link btn-icon" type="button" i18n-title title="Show code"
                (click)="refreshCode(); codePreview.visible = true">
                <clr-icon shape="details"></clr-icon>
              </button>
            </li>
          </ul>
          <app-instead></app-instead>
        </div>
      </div>
    </div>
  </div>
  <app-game-info #infoEditor [data]="model.insteadMeta"></app-game-info>
  <app-code-preview #codePreview [code]="code"></app-code-preview>
</div>