<h4 class="text-center">
    <ng-container *ngTemplateOutlet="recursiveText; context:{ $implicit: title | async }"></ng-container>
</h4>
<h5>
    <ng-container *ngTemplateOutlet="recursiveText; context:{ $implicit: ways | async }"></ng-container>
</h5>
<p class="text">
    <ng-container *ngTemplateOutlet="recursiveText; context:{ $implicit: text | async }"></ng-container>
</p>
<!-- TODO: Maybe use vertical nav -->
<p class="text-center">
    <ng-container *ngTemplateOutlet="recursiveText; context:{ $implicit: inventory | async }"></ng-container>
</p>

<ng-template #recursiveText let-elements>
    <ng-container *ngFor="let elem of elements">
        <ng-container [ngSwitch]="elem.type">
            <ng-container *ngSwitchCase="'text'">{{elem.text}}</ng-container>
            <ng-container *ngSwitchCase="'a'">
                <a (click)="act(elem.target)" href="javascript:void(0)">
                    <ng-container *ngIf="elem.children">
                        <ng-container *ngTemplateOutlet="recursiveText; context:{ $implicit: elem.children }">
                        </ng-container>
                    </ng-container>
                </a>
            </ng-container>
            <ng-container *ngSwitchCase="'i'">
                <i>
                    <ng-container *ngIf="elem.children">
                        <ng-container *ngTemplateOutlet="recursiveText; context:{ $implicit: elem.children }">
                        </ng-container>
                    </ng-container>
                </i>
            </ng-container>
            <ng-container *ngSwitchCase="'b'">
                <b>
                    <ng-container *ngIf="elem.children">
                        <ng-container *ngTemplateOutlet="recursiveText; context:{ $implicit: elem.children }">
                        </ng-container>
                    </ng-container>
                </b>
            </ng-container>
            <ng-container *ngSwitchCase="'c'">
                <p class="text-center">
                    <ng-container *ngIf="elem.children">
                        <ng-container *ngTemplateOutlet="recursiveText; context:{ $implicit: elem.children }">
                        </ng-container>
                    </ng-container>
                </p>
            </ng-container>
        </ng-container>
    </ng-container>
</ng-template>