#blocklyDiv {
    /* Header height and top and bottom padding */
    height: calc(100vh - 60px - 24px - 24px);
}

#generatedCode {
    white-space: pre;
}

#game_info_dialog {
    background-color: #fff;
    width: 400px;
    margin: 20px auto 0;
    padding: 10px;
    display: block;
}
