.instead-logo {
    background-image: url("../public/sdl_instead.svg");
}

#blocklyDiv {
    /* Header height */
    height: calc(100vh - 60px - 24px);
}

#codeDiv {
    /* Header height and tab header height */
    height: calc(100vh - 60px - 24px - 36px);
    overflow: auto;
}

#generatedCode {
    white-space: pre;
}

#game_info_dialog {
    background-color: #fff;
    width: 400px;
    margin: 20px auto 0;
    padding: 10px;
    display: block;
}
