<clr-modal [(clrModalOpen)]="visible" *ngIf="data">
    <div class="modal-header">
        <h3 class="modal-title">Game metadata</h3>
    </div>
    <div class="modal-body">
        <form clrForm #form="ngForm">
            <clr-input-container>
                <label>Title</label>
                <input clrInput type="text" [(ngModel)]="data.name" name="name" />
                <clr-control-helper>Game title as seen in the Instead</clr-control-helper>
            </clr-input-container>
            <clr-input-container>
                <label>Author</label>
                <input clrInput type="text" [(ngModel)]="data.author" name="author" />
                <clr-control-helper>Who contributed to the game</clr-control-helper>
            </clr-input-container>
            <clr-input-container>
                <label>Version</label>
                <input clrInput type="text" [(ngModel)]="data.version" name="version" />
                <clr-control-helper>Game version</clr-control-helper>
            </clr-input-container>
        </form>
    </div>
    <div class="modal-footer">
        <!-- <button class="btn btn-outline" type="button" (click)="visible = false">Cancel</button> -->
        <button class="btn btn-primary" type="button" (click)="visible = false">Ok</button>
    </div>
</clr-modal>